.navIcons{
    gap: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navIcons>a>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>img:hover{
    cursor: pointer;
}